<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>COVID-19 & Criminal Incidents</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
    <!-- Leaflet JS & CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
</head>

<body>
   <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>NEW YORK CITY COVID-19 VS CRIME INCIDENTS</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="line"></div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <div id="bar_stacked"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div>
      <h1>How it works:</h1>
      <h2>Pick a specific date then select one of the boroughs to see the charts and informatio about the COVID-19 and crimes.</h2>
    </div>
  </div>
  <div class="container">
    <div style="margin-top:10px" class="row">
      <div class="col-md-6">
        <select id="selDataset" style="font-size:20px; max-width:100%;" onchange="optionChanged(this.value)"></select>
      </div>
      <div class="col-md-6">
        <p>
          <button value="BRONX" class="btn active btn-primary" type="button" onclick="updateCharts(document.getElementById('selDataset').value, value)"  data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="">
            Bronx
          </button>
          <button value="BROOKLYN" class="btn btn-primary" type="button" onclick="updateCharts(document.getElementById('selDataset').value, value)" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="">
            Brooklyn
          </button>
          <button value="STATEN ISLAND" class="btn btn-primary" type="button" onclick="updateCharts(document.getElementById('selDataset').value, value)" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="">
            Staten Island
          </button>
          <button value="MANHATTAN" class="btn btn-primary" type="button" onclick="updateCharts(document.getElementById('selDataset').value, value)" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="">
            Manhattan
          </button>
          <button value="QUEENS" class="btn btn-primary" type="button" onclick="updateCharts(document.getElementById('selDataset').value, value)" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="">
            Queens
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div style="margin-top:10px" class="row">
      <div class="col-md-4">
        <div id="pie"></div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <div id="bar"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div style="margin-top:10px" class="row">
      <div class="col-md-4">
        <h3>COVID-19 SUMMARY</h3>
          <table id="covidTable"></table>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <h3>CRIME SUMMARY</h3>
          <table id="crimeTable"></table>
      </div>

    </div>
  </div>

  <div class="container">
    <div style="margin-top:10px" class="row">
      <div class="col-md-12">
          <div id="lineChartTotal"></div>
      </div>

    </div>
  </div>



<div class="container">
  <div style="margin-top:10px" class="row">
    <div class="col-md-12">
        <div id="map" style="height: 420px;"></div><br>
    </div>
<br>
<br>
<br>
<br>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="../static/js/config.js"></script>
  <script src="../static/js/app.js"></script>


</body>

</html>
